<div id="page-title">
	<h1>Questions</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th class="wide-col">Content</th>
    <th class="med-col">Language</th>
    <th class="narrow-col">Type</th>
    <th class="narrow-col">Num</th>
    <th class="med-col">Survey</th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td class="wide-col"><%= question.content %></td>
    <td class="med-col"><%= question.language.language %></td>
    <td class="narrow-col"><%= question.category %></td>
    <td class="narrow-col"><%= question.number %></td>
    <td class="med-col"><%= question.survey.title %></td>
    <td class="narrow-col"><%= link_to 'Show', question %></td>
    <td class="narrow-col"><%= link_to 'Edit', edit_question_path(question) %></td>
    <td class="narrow-col"><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Question', new_question_path %>

</div>

