<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Language:</b>
  <%= @question.language.language %>
</p>

<p>
  <b>Category:</b>
  <%= @question.category %>
</p>

<p>
  <b>Number:</b>
  <%= @question.number %>
</p>

<p>
  <b>Survey:</b>
  <%= @question.survey_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
