<div class="search-field">
	<span class="search-label"><%= label_tag :party, "Party:" %></span><br />
	<span class="search-input"><%= select_tag :party, options_from_collection_for_select(parties, 'id', 'both_names'), {:multiple => true, :size => 6} %></span>
</div>
<div class="clr"></div>
<div class="search-field">
	<span class="search-label"><%= label_tag :name, "Name:" %></span>
	<span class="search-input"><%= render :partial => "participants", :locals => {:participants => participants}%></span>
</div>
<div class="clr"></div>
<div class="search-field">
	<span class="search-label"><%= label_tag :question, "Question(s)" %></span><br />
	<span class="search-input"><%= select_tag :question, options_from_collection_for_select(questions, 'id', 'select_text'), {:multiple => true, :size => 15} %></span>
</div>