<%= form_for(@question_group) do |f| %>
  <% if @question_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_group.errors.count, "error") %> prohibited this question_group from being saved:</h2>

      <ul>
      <% @question_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :survey_id %><br />
    <%= f.collection_select :survey_id, Survey.all, :id, :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
