<div id="page-title">
	<h1>Question Groups</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th class="wide-col">Title</th>
    <th class="med-col">Survey</th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
  </tr>

<% @question_groups.each do |question_group| %>
  <tr>
    <td class="wide-col"><%= question_group.title %></td>
    <td class="med-col"><%= question_group.survey.title %></td>
    <td class="narrow-col"><%= link_to 'Show', question_group %></td>
    <td class="narrow-col"><%= link_to 'Edit', edit_question_group_path(question_group) %></td>
    <td class="narrow-col"><%= link_to 'Destroy', question_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add Question group', new_question_group_path %>

</div>
