<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question_group.title %>
</p>

<p>
  <b>Survey:</b>
  <%= @question_group.survey_id %>
</p>


<%= link_to 'Edit', edit_question_group_path(@question_group) %> |
<%= link_to 'Back', question_groups_path %>
