<div id="page-title">
	<h1>Administration Functions</h1>
</div>

<div id="page-content">
	<ul>
		<li><%= link_to "Invite Participants", administration_invite_participants_url %></li>
		<li><%= link_to "Notify Participants", administration_notify_participants_url %></li>
		<li><%= link_to "Search", search_index_url %></li>
		<li><%= link_to "Surveys", surveys_url %></li>
		<li><%= link_to "Questions", questions_url %></li>
		<li><%= link_to "Answers", answers_url %></li>
	</ul>
</div>