<div id="page-title">
	<h1>Listing choices</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th>Content</th>
    <th>Choice order</th>
    <th>Question</th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
  </tr>

<% @choices.each do |choice| %>
  <tr>
    <td><%= choice.content %></td>
    <td><%= choice.choice_order %></td>
    <td><%= choice.question_id %></td>
    <td class="narrow-col"><%= link_to 'Show', choice %></td>
    <td class="narrow-col"><%= link_to 'Edit', edit_choice_path(choice) %></td>
    <td class="narrow-col"><%= link_to 'Destroy', choice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Choice', new_choice_path %>

</div>
