<div id="page-title">
	<h1>Participants</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th>Name</th>
    <th>Original name</th>
    <th>Email</th>
		<th>Gender</th>
		<th>Profile</th>
    <th>Survey code</th>
		<th>Party</th>
		<th>List Position</th>
    <th></th>
    <th></th>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><% if participant.name %><%= link_to participant.name, participant %><% end %></td>
    <td><% if participant.original_name %><%= participant.original_name %><% end %></td>
    <td><% if participant.email %><%= participant.email %><% end %></td>
		<td><% if participant.gender %><%= participant.gender %><% end %></td>
		<td><% if participant.profile_link %><%= participant.profile_link %><% end %></td>
		<td><% if participant.survey_code %><%= participant.survey_code %><% end %></td>
    <td><% if participant.party_id %><%= participant.party.abbreviation %><% end %></td>
		<td><% if participant.list_position %><%= participant.list_position %><% end %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_participant_path %>
</div>