<div id="page-title">
	<h1>Listing answers</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th>Answer</th>
    <th>Question</th>
    <th>Participant</th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= link_to answer.content, answer %></td>
    <td><%= answer.question.content %></td>
    <td><%= answer.participant.name %></td>
    <td class="narrow-col"><%= link_to 'Edit', edit_answer_path(answer) %></td>
    <td class="narrow-col"><%= link_to 'Destroy', answer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

</div>
