<div class="survey-question">
	
<%= fields_for "answer[#{question.id}]", question.answers.build do |answer_fields| %>
	<% if question.mandatory %>
	<span class="question"><%= answer_fields.label :content, "* #{question.number}. #{question.content}" %></span>
	<% else %>
	<span class="question"><%= answer_fields.label :content, "#{question.number}. #{question.content}" %></span>
	<% end %>
	<br />
	<span class="answer-input">
	<% if question.category == "Text-field"%>
		<% if question.mandatory? %>
			<%= answer_fields.text_field :content, :class => "required" %>
		<% else %>
			<%= answer_fields.text_field :content %>
		<% end %>
	<% elsif question.category == "Text-area"%>
		<% if question.mandatory? %>
			<%= answer_fields.text_area :content, :rows => 3, :class => "required" %>
		<% else %>
			<%= answer_fields.text_area :content, :rows => 3 %>
		<% end %>
	<% elsif question.category == "Radio" %>
		<span class="radio-answer">
		<% question.choices.each do |choice| %>
			<% if question.mandatory? %>
				<%= answer_fields.radio_button :content, choice.content, :class => "required" %>
			<% else %>
				<%= answer_fields.radio_button :content, choice.content %>
			<% end %>
			<%= answer_fields.label "content_#{choice.content.gsub(" ", "_").downcase}", choice.content %>
		<% end %>
		</span>
	<% end %>
	</span>
<% end %>

</div>