<div id="welcome-text">
	<%= @welcome_text %>
</div>

<br />

<div id="intro-text">
	<h2><%= @intro_text %></h2>
</div>

<br />

<%= form_tag "/submit_survey", :id => "surveyForm" do -%>

	<%= hidden_field_tag 'survey_code', @survey_code %>
	
	<div id="survey-questions">
		<%= render :partial => "question", :collection => @questions %>
	</div>

	<%= submit_tag "Submit" %>

<% end -%>

<script>
	$().ready(function() {
		// validate the survey form when it is submitted
		$("#surveyForm").validate();
	});
</script>
