<% content_for :head do %>
	<%= javascript_include_tag "jquery.validate.js" %>
<% end %>

<div id="page-title">
	<h1><%= @survey.title %></h1>
</div>


<div id="survey-content">
	<div id="intro-text">
		<h2><%= @intro_text %></h2>
	</div>
	<div id="language-options">
		<%= form_tag load_questions_url(:id => @survey.id, :survey_code => @survey_code), :method => :post, :remote => true do -%>
			<%= render :partial => "select_language", :collection => @survey.languages.uniq!, :as => "language" %>
			<%= submit_tag "Select" %>
		<% end -%>
		
	</div>
</div>


