<p id="notice"><%= notice %></p>

<div id="page-title">
	<h1><%= @survey.title %></h1>
</div>


<div id="language-options">
	<%= hidden_field_tag "survey_id", @survey.id %>
	<%= render :partial => "language_options", :collection => @survey.languages.uniq!, :as => "language", :locals => {:selected_language => @language} %>
</div>

<br />

<div id="survey-content">
	<%= render :partial => "show_survey" %>
</div>


